body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
h1{
    text-align: center;
    font-size: 60px;
}
.line{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}
.line:before{
    content: "";
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}
.line ul{
    margin: 0;
    padding: 0;
}
.line ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}
.line ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}
.line ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}
.content{
    padding-bottom: 20px;
    opacity: 0; 
    transition: .7s ease-in-out all;
}
.content.visible{
    opacity: 1;
}
.line ul li:nth-child(odd):before{
    content: "";
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgba(223, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(223, 33, 99, 0.2);
}
.line ul li:nth-child(even):before{
    content: "";
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgba(223, 33, 99, 1);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(223, 33, 99, 0.2);
}
.line ul li h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(223, 33, 99, 1);
}
.line ul li p{
    margin: 10px 0 0;
    padding: 0;
}
.line ul li .time h4{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.line ul li:nth-child(odd) .time{
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(223, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(223, 33, 99, 0.3);
}
.line ul li:nth-child(even) .time{
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(223, 33, 99, 1);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(223, 33, 99, 0.3);
}
.c{
    color: rgba(223, 33, 99, 1);
}
@media (max-width: 1000px) {
    .line{
        width: 100%;
    }
}
@media (max-width: 767px) {
    h1{
        text-align: center;
        font-size: 40px;
        padding: 0 20px;
    }
    .line{
        width: 100%;
        padding-bottom: 0;
    }
    .line::before{
        left: 20px;
    }
    .line ul li:nth-child(odd),
    .line ul li:nth-child(even){
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }
    .line ul li:nth-child(odd):before,
    .line ul li:nth-child(even):before{
        top: -18px;
        left: 16px;
    }
    .line ul li:nth-child(odd) .time,
    .line ul li:nth-child(even) .time{
        top: -30px;
        left: 50px;
        right: inherit;
    }
}